.App {
  text-align: center;
  height: 100%;
  float: left;
}

html,body,#root{
  height: 100%;
  padding: 0;
  margin: 0;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

html {
  height: 100%;
  padding: 0;
  margin: 0;
  /** background-image: url("../res/bg.jpg");*/
  background-image: url("../res/bgPriv.jpg");
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-attachment: fixed;
  z-index: -20;
}
.errorPage {
  position: relative;
  display: grid;
  padding: 3em 3em 3em 3em;
}
.errorImg {
  padding: 3em 3em 3em 3em;
  width: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.footer {
  margin-left: 15%;
  position: relative;
}
.bottomInfoAPP {
  padding: 1em 1em 1em 1em;
  float: right;
  display: flex;
}
