.App {
  text-align: center;
  height: 100%;
  float: left;
}

html,body,#root{
  height: 100%;
  padding: 0;
  margin: 0;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.Main {
  height: 100%;
  background-image: url("../res/bg.jpg");
  background-repeat: no-repeat;
  background-size:cover;
  z-index: -20;
}
