.pageSort {
  display: inline-block;
  position: absolute;
}
.divideArea {
  width: 50%;
  float: left;
}
.SummaryBox {
  height: 80%;
  margin-top: 10%;
  margin-right: 5%;
  vertical-align: -webkit-baseline-middle;
  border: 3px solid var(--main-colour);
  border-radius: 50px;
  text-align: center;
  background-color: var(--bg-colour-transparent);
}
.SummaryTitleArea {
  margin: 0;
  padding: 10px 10px 20px 10px;
}
.SummaryTextArea {
  margin: 0;
  padding: 16px 16px 20px 16px;
  text-align: left;
  white-space: pre-wrap;
}
.techIcons {
  display: block;
  position: relative;
}
.skillBox {
  position: absolute;
}
.iconBubble {
  height: 60px;
  border-radius: 50%;
  border: 3px solid var(--bg-colour);
  
}
/*skill placement, ability order*/
.skill1 {
  margin-left:15%;
  margin-top: 10%;
}
.skill2 {
  margin-left: 55%;
  margin-top: 18%;
}
.skill3 {
  margin-left: 35%;
  margin-top: 24%;
}
.skill4 {
  margin-left: 75%;
  margin-top: 32%;
}
.skill5 {
  margin-left: 15%;
  margin-top: 40%;
}
.skill6 {
  margin-left: 55%;
  margin-top: 48%;
}
.skill7 {
  margin-left: 35%;
  margin-top: 56%;
}
.skill8 {
  margin-left: 75%;
  margin-top: 64%;
}
