.pageSortLP {
  display: inline-block;
  position: absolute;
  padding-top: 2%;
}
.pageMobileLP {
  display: grid;
}
.mainLP {
  min-width: 1px;
}
.footerHolderLP {
  float: right;
  position: absolute;
  bottom: 0;
  right: 0;
  clear: right;
}
.divideArea {
  width: 50%;
  float: left;
}
.summaryBoxLP {
  height: 80%;
  margin: 0 5% 10% 5%;
  vertical-align: -webkit-baseline-middle;
  border: 3px solid var(--main-colour);
  border-radius: 50px;
  text-align: center;
  background-color: var(--bg-colour-transparent);
}
.mobileMarginLP {
  margin: 5% 2% 10% 2%;
  height: 98%;
}
.SummaryTitleArea {
  margin: 0;
  padding: 10px 10px 20px 10px;
}
.SummaryTextArea {
  margin: 0;
  padding: 16px 16px 20px 16px;
  text-align: left;
  white-space: pre-wrap;
}
.linksSection {
  display: inline-flex;
}
.linkBox {
  display: inline;
  padding: 0 6px 12px 6px;
}
.techIconsLP {
  display: block;
  position: relative;
}
.techMarginLP {
  margin-top: 5%;
}
.skillBox {
  position: absolute;
}
.iconBubble {
  height: 60px;
  border-radius: 50%;
  border: 3px solid var(--bg-colour);
}
/*skill placement, ability order*/
.skill1 {
  margin-left: 15%;
  margin-top: 5%;
}
.skill2 {
  margin-left: 55%;
  margin-top: 12%;
}
.skill3 {
  margin-left: 35%;
  margin-top: 24%;
}
.skill4 {
  margin-left: 75%;
  margin-top: 32%;
}
.skill5 {
  margin-left: 15%;
  margin-top: 40%;
}
.skill6 {
  margin-left: 55%;
  margin-top: 48%;
}
.skill7 {
  margin-left: 35%;
  margin-top: 54%;
}
.skill8 {
  margin-left: 75%;
  margin-top: 58%;
}

.backLayer {
  position: initial;
}
hr {
  display: block;
  height: 20px;
  border: 0;
  border-top: 1px solid var(--bg-colour-vtransparent);
  margin: 2em 2em 0 2em;
}
