.pageSort {
  display: inline-block;
  position: absolute;
}

.skillBubbles {
  width: 50%;
  float: left;
}

.SummaryArea {
  width: 50%;
  float: left;

}

.SummaryBox {
  height: 80%;
  margin-top: 10%;
  vertical-align: -webkit-baseline-middle;
  border: 3px solid var(--main-colour);
  border-radius: 50px;
  text-align: center;
  background-color: var(--bg-colour-transparent);
}

.SummaryTitleArea {
  margin: 0;
  padding: 10px 10px 20px 10px;
}

.SummaryTextArea {
  margin: 0;
  padding: 16px 16px 20px 16px;
  text-align: left;
  white-space: pre-wrap;
}
