.PageMainPB {
  display: grid;
  padding: 1em 1em 1em 1em;
}
.projectBoxPB {
  margin: 1em 2em 1em 2em;
  border-radius: 30px;
  border: 5px solid var(--bg-colour);
  background: var(--bg-colour-transparent);
  padding: 12px 12px 12px 12px;
  display: inline-flex;
}
.boxMobilePB {
  margin: 1em 0.5em 1em 0.5em;
  padding: 6px 6px 6px 6px;
  display: block;
}
.divideBoxTextPB {
  position: relative;
  max-width: 60%;
}
.imgBoxMobilePB {
  max-height: 100px;
}
.divideBoxImgPB {
  position: relative;
  max-width: 40%;
  align-self: center;
}
.projectImgPB {
  width: 80%;
  z-index: 100;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
