.SBMain {
  height: 100%;
  width: 15%;
  float: left;
  background-color: var(--sideBar-bg-colour);
}
.SBMainCollapsed {
  width: 10%;
  float: left;
}
.SBBackground {
  position: absolute;
  background-color: cornflowerblue;
  width: 60%;
}
