.mainSB {
  height: 100%;
  width: 15%;
  float: left;
}
.collapsedSB {
  width: 6%;
}
.spaceHolderSB{
  min-width: 100%;
  min-height: 2px;
}
.overlaySB {
  height: 100%;
  display: inline-grid;
  grid-template-rows: [row-start] 20% [row1] auto [row2] auto [row2] auto [last-line];
  position: fixed;
  width: inherit;
}
.textBoxSB {
  padding: 12px;
}
.buttonsContainerSB{
  vertical-align: -webkit-baseline-middle;
}
.pictureIconSB {
  width: 60%;
  border-radius: 50%;
  border: 2px solid var(--bg-colour);
  margin-left: 5%;
  margin-top: 5%;
}