.SBMain {
  height: 100%;
  width: 15%;
  float: left;
}
.SBCollapsed {
  width: 6%;
}
.SBTextBox {
  padding: 12px;
}
.SBOverlay {
  height: 100%;
  display: grid;
  grid-template-rows: [row-start] 20% [row1] 20% [row2] 50% [row2] auto [last-line];
}
.SBButtonsContainer{
  vertical-align: -webkit-baseline-middle;
}
.PictureIcon {
  width: 60%;
  border-radius: 50%;
  border: 2px solid var(--bg-colour);
  margin-left: 5%;
  margin-top: 5%;
}