.SkMain {
    position: relative;
    display: grid;
    padding: 12px 42px 12px 42px;
}
.SkSkillArea {
    display: inline;
}
.SkTitleBox {
    position: relative;
    
    max-width: 300px;
    border-radius: 30px;
    border: 5px solid var(--bg-colour);
    background: var(--bg-colour-transparent);
    text-align: center;
    margin: auto;
    padding: 12px 12px 12px 12px;
}
.SkSkillIcon {
    height: 60px;
    margin-top: 12px;
    border-radius: 50%;
    border: 3px solid var(--bg-colour);
    position: absolute;
    z-index: 100;
    vertical-align: -webkit-baseline-middle;
}
.SkSkillTextBox {
    position: relative;
    display: block;
    border-radius: 30px;
    border: 5px solid var(--bg-colour);
    background: var(--bg-colour-transparent);
    text-align: left;
    margin: 6px 6px 6px 40px;
    padding: 6px 12px 12px 40px;
}