.PageMain {
    position: relative;
    display: grid;
    padding: 12px 42px 12px 42px;
}
.pageMobile {
    padding: 12px 12px 12px 12px;
}
.TextArea {
    display: inline;
}
.TitleBox {
    position: relative;
    border-radius: 30px;
    border: 5px solid var(--bg-colour);
    background: var(--bg-colour-transparent);
    text-align: center;
    margin: auto;
    padding: 12px 42px 12px 42px;
}
.mobilePaddingTB {
    padding: 12px 12px 12px 12px;
}
.bubbleArea {
    display: inline;
}
.BubbleIcon {
    height: 60px;
    margin-top: 12px;
    border-radius: 50%;
    border: 3px solid var(--bg-colour);
    position: absolute;
    z-index: 100;
    vertical-align: -webkit-baseline-middle;
}
